input {
  background-color: white;
  font-family: "cherry bomb", sans-serif;
  border-radius: 4px;
}

.input-username {
  font-family:"cherry bomb", sans-serif;

}

.pseudo {
  position: relative;
  color: white;
  font-size: 24px;
  left: 35%;
}

.form-username {
  display: flex;
  justify-content: center;
}

.play {

  border-radius: 4px;
  width: auto;
  height: auto;
  background-color: #99c24d;
  color: white;
}

.play:active {
  box-shadow: 5px 4px 24px 5px #f18f01;
}

