input {
  background-color: white;
  font-family: "cherry bomb", sans-serif;
  border-radius: 4px;
  width: auto;
  height: 50px;
}

.input-username {
  font-family: "cherry bomb", sans-serif;
}

.pseudo {
  display: flex;
  justify-content: space-around;
  position: relative;
  color: white;
  font-size: 24px;
  width: auto;
  height: auto;
}

.form-username {
  display: flex;
  justify-content: center;
}

.play {
  position: relative;
  right: 7%;
  top: 2%;
  border-radius: 4px;
  height: 60px;
  width: auto;
  background-color: #99c24d;
  color: white;
  border-radius: 4px;
}


.play:active {
  box-shadow: 5px 4px 24px 5px #f18f01;
}
