.scoreTitle {
  color: #99c24d;
    text-align: center;
  vertical-align: text-top;
  font-size: 20px;
  font-family: "cherry bomb", sans-serif;
  line-height: auto;
  border-style: hidden;
  outline: none;
  position: absolute;
  top: 23%;
  right: 4%;
}
