$green: #99c24d;
$orange: #f18f01;
$black: #494a4d;
$font: "Cherry Bomb";
$red: #ff0505;
$white: #fff;

.wrapper {
  display: flex;
  justify-content: center;
}
.startBtn {
  border-radius: 8px;
  cursor: pointer;
  color: $white;
  font-family: $font;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px;
  margin-top: 50px;
  margin-left: 30px;
  background-color: $green;
}
